[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg

package-name = plone.app.debugtoolbar

parts += omelette

[instance]
eggs +=
    plone.reload
    Products.PdbDebugMode

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    plone.app.debugtoolbar [test]
defaults = ['-s', '${buildout:package-name}']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
